{% extends 'base.html.twig' %}

{% block body %}

<h1> Highlander Says</h1>

{% for forcast in forecasts %}
<p> {{ forcast }}</p>
    {% endfor %}
{# this is a comment #}


<nav>
<a href="{{ path('app_weather_highlendersays',{
        threshold: 50,
})}}">Try again!</a>
</nav>

{% endblock %}



{% block javascripts %}

{{parent()}}

<script>
    const route = "{{ url('app_weather_highlendersays')|escape('js')}}";
    console.log(route);
</script>

{% endblock %}


{% block title %} Highlander Says {% endblock %}